table,th,td{
					border: 2.3px solid black;
					border-collapse:collapse;
					width:2000px;
					margin:auto;
					
					}

thead th {  
	background-color:grey
}
tbody{
	font-style:italic;
	text-align:left;
	vertical-align:top;
}
#golden{
	color:rgb(255, 153, 51);
	}
	
a	{
	text-decoration:none;
	font-family:Cursive;
	font-weight:bold;
	color:black;
}
a:hover{
	text-decoration:underline;
	background-color:hotpink;
}
a:active{
	text-decoration:none;
	background-color:transparent;
}

tbody tr:nth-child(even){
	background-color:hotpink; 
}
tbody tr:nth-child(odd){
	background-color:blue;
}

