.mainback{
	background-color:rgb(95,95,95);
}


.foot{
		font-family:Impact;
		text-align:center;
		background-color:rgb(160,160,160);
		
}
.head{
	font-family:'Sigmar One';
	text-align:center;
	background-color:rgb(160,160,160);
}
.bodyback{
	background-color:blue;
}
a:visited{
	color:red;
}
a:hover{
	font-weight:bold;
}
a:active{
	text-decoration:none;
	font-weight:normal;
}
